@using HomeManager.Data.Data.Models.Enums
@model HomeManager.Data.Data.ViewModels.EditHomeViewModel

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="HomeName" class="form-control" placeholder="Title" />
    <textarea asp-for="HomeDescription" class="form-control" placeholder="Description"></textarea>
    <input asp-for="HomeLocation" class="form-control" placeholder="Address" />
    <input asp-for="HomePrice" class="form-control" placeholder="Price" />
    <input asp-for="City" class="form-control" placeholder="City" />
    <input asp-for="Region" class="form-control" placeholder="Region" />
    <div class="form-group">
        <label asp-for="HomeType" class="control-label"></label>
        <select asp-for="HomeType" class="form-control" asp-items="Html.GetEnumSelectList<HomeType>()">
            <option value="">-- Select Home Type --</option>
        </select>

        <span asp-validation-for="HomeType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HomeDealType" class="control-label"></label>
        <select asp-for="HomeDealType" class="form-control" asp-items="Html.GetEnumSelectList<DealType>()">
            <option value="">-- Select Deal Type --</option>
        </select>

        <span asp-validation-for="HomeDealType" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="HomeLocation" value="Default Location" />
    <input asp-for="Latitude" class="form-control" placeholder="Latitude" step="any" />
    <input asp-for="Longitude" class="form-control" placeholder="Longitude" step="any" />
    <div class="mb-3">
        <label for="UploadedImages" class="form-label">Add Images</label>
        <input type="file" name="UploadedImages" id="UploadedImages" multiple class="form-control" />
    </div>

    @for (int i = 0; i < Model.ExistingImages.Count; i++)
    {
        <div class="mb-2">
            <img src="@Model.ExistingImages[i]" alt="Estate Image" style="max-width:150px;max-height:100px;" class="me-2" />
            <label>
                <input type="checkbox" name="ImagesToRemove" value="@Model.ExistingImages[i]" />
                Remove
            </label>
        </div>
    }
   

    <button type="submit" class="btn btn-hm">Save</button>
</form>
